* {
  box-sizing: border-box;
  margin: 0;
  }

.App {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.gallery{
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
}

.random{
  color: rgb(119, 114, 114);
}