* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
}

.gallery {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.random {
  color: rgb(119, 114, 114);
}
